<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @jcloudname.provider %>
</p>

<p>
  <b>Geo:</b>
  <%= @jcloudname.geo %>
</p>

<p>
  <b>Providername:</b>
  <%= @jcloudname.providername %>
</p>

<p>
  <b>Locationname:</b>
  <%= @jcloudname.locationname %>
</p>


<%= link_to 'Edit', edit_jcloudname_path(@jcloudname) %> |
<%= link_to 'Back', jcloudnames_path %>
