<h1>Listing operatingsystems</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operatingsystems.each do |operatingsystem| %>
  <tr>
    <td><%= operatingsystem.name %></td>
    <td><%= link_to 'Show', operatingsystem %></td>
    <td><%= link_to 'Edit', edit_operatingsystem_path(operatingsystem) %></td>
    <td><%= link_to 'Destroy', operatingsystem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operatingsystem', new_operatingsystem_path %>
