<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @geo.city %>
</p>

<p>
  <b>Continent:</b>
  <%= @geo.continent %>
</p>


<%= link_to 'Edit', edit_geo_path(@geo) %> |
<%= link_to 'Back', geos_path %>
