<h1>Listing ratesets</h1>

<table>
  <tr>
    <th>Resourceset</th>
    <th>Servicetype</th>
    <th>Operatingsystem</th>
    <th>Geo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratesets.each do |rateset| %>
  <tr>
    <td><%= rateset.resourceset %></td>
    <td><%= rateset.servicetype %></td>
    <td><%= rateset.operatingsystem %></td>
    <td><%= rateset.geo %></td>
    <td><%= link_to 'Show', rateset %></td>
    <td><%= link_to 'Edit', edit_rateset_path(rateset) %></td>
    <td><%= link_to 'Destroy', rateset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rateset', new_rateset_path %>
